*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url("../imgs/login__background-img.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.container{
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
    justify-content: space-evenly;
    width: 22rem;
    height: 30rem;
    border-radius: 3%;
    padding: 2% 4%;
    box-shadow: -20px -15px 0px 3px rgba(255, 255, 255, 0.5)
}

