* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    height: 100vh;
}

/* CSS Navbar */
.bg-body-tertiary {
    background-color: rgba(17, 17, 17, 0.75) !important;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
    ;
}


.nav-item:hover,
.nav-item--focus {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;

}

/* ----- */

.maps {
    display: flex;
    flex-direction: row;
}

.container-fluid iframe {
    margin-top: 1%;
    height: 80vh;
    display: flex;
}


.informacoes-comunicacao {
    margin-top: 1%;
    height: 88vh;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 80%;
    height: 200px;
}

p {
    font-size: 18px;
}

h4 {
    padding-left: 1rem;
}

.maps .container-fluid {
    display: flex;
}