*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variaveis Globais */
:root{
    --cor-fundo-principal:#B8ACD8; 
    --cor-fundo-secundaria:#DCDDF1;
    --cor-navbar-principal:#E6E2F4;
    --cor-navbar-secundaria:#CBE3EE;
    --cor-fonte: #7d7690;
}

body{
    background: linear-gradient(var(--cor-fundo-principal)0%, var(--cor-fundo-secundaria)100%);
}

div#navbarNav {
    padding-right: 23rem;
    
}
.navbar {
    padding-top: 20px; /* Ajuste o valor conforme necessário */
    padding-bottom: 20px; /* Ajuste o valor conforme necessário */
    background: rgb(230,226,244);
    background: linear-gradient(90deg, rgba(230,226,244,1) 0%, rgba(203,227,238,1) 80%);
    
  }
  
  .navbar-brand img {
    height: 66px; /* Defina a altura da imagem */
    width: auto; /* Mantenha a largura automática para manter a proporção */
  }
  
/* CSS Navbar 
.bg-body-tertiary {
    background:linear-gradient(to right,var(--cor-navbar-principal)0%, var(--cor-navbar-secundaria)80%)!important;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.35);
}

.navbar{
    --bs-navbar-active-color: var(--cor-fonte);
}

.navbar-nav{
    --bs-nav-link-color: var(--cor-fonte) ;
    --bs-nav-link-hover-color: var(--bs-nav-link-color);
}

.nav-link{
    
}

.nav-item:hover, .nav-item--focus {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    
}
/* ------ */

.titulo{
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-personagens{
    align-items: center;
    
}

/*area de jogabilidade*/
fieldset {
    width: 50%;
    text-align: center;
}

.carousel {
    position: relative;
    width: 35%;
}

.container-personagens{
    padding:  350px;
    gap: 1rem;
}

@media (min-width: 320px) {
    body{
        text-align: justify;
        width: 118%;
    }
    .container {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }

        fieldset{
        width: 100%;
        text-align: justify;
    }
}


/*CARROSSEL (bruna)*/
/*SESSÃO DOS PERSONAGENS*/
.container-personagens {
    max-width: 1080px 72px;
    width: 95%;
}

/*AREA DO TITULO*/
.quadro-titulo {
    background-color: white;
    position: relative;
    border-radius: 10px 10px 0% 0%;
}

/*NOME DO TITULO*/
h2 {
    text-align: center;
    padding: 30px 20px 0 20px;
    margin: 0px;
    font-size: 45px;
    font-weight: 500;
    font-family: 'poppins', serif;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;

}


/*QUADRO DAS IMAGENS*/
.slider-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    position: relative;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 0% 0% 10px 10px;
}

/*posição dos botões*/
.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fefefe;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}
/*quando o mouse passar em cima dos botoes de proximo ou anterior a parte preta fica cinza*/
.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

/*imagem*/
.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    list-style: none;
    margin-bottom: 1px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 300px;
    height: 550px;
    object-fit: cover;
}



/*Configurações das IMAGENS DOS PERSONAGENS*/
.teste {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}

.image-item {
    height: 450px;
    position: relative;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.container-personagens .teste .informacoes-personagem {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 600;
    transition: 0.3s;
    transition: 0.2s;
}


/*NOME DO PERSONAGEM*/
.nome-personagem {
    display: flex;
    flex-direction: column;
}

h3 {
    background-color: #000;
    color: #fff;
    font-family: "poppins", sans-serif;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}


/*INFORMAÇÃOES DOS PERSONAGENS*/
.informacoes-personagem {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*texto*/
p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0;
    padding: 18px;
    font-family: "poppins", serif;
}

.informacoes-personagem {
    visibility: hidden;
}
/*fundo preto*/
.container-personagens .image-list .item-a:hover .informacoes-personagem {
    background-color: #000;
    opacity: 0.9;
    /*transition: 0.5s;*/
}

.image-item:hover .informacoes-personagem {
    visibility: visible;
    animation: fade 0.5s;
}
/*animação*/
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* Estilos para celulares e tablets */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}

